.gallery{
    display: flex;
flex-wrap: wrap;
gap: 10px;

}


ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}